# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
UnityProjectWWW\*.svd
UnityProjectWWW\*.userprefs
UnityProjectWWW\*.csproj
UnityProjectWWW\*.pidb
UnityProjectWWW\*.suo
UnityProjectWWW\*.sln
UnityProjectWWW\*.user
UnityProjectWWW\*.unityproj
UnityProjectWWW\*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db